html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lora';
}

header {
  background: black;
  color: white;
  padding: 2em;
}

header .container {
  text-align: center;
  margin: auto;
}