html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lora';
}

header {
  background: black;
  color: white;
  padding: 2em;
}

header .container {
  text-align: center;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background: #202020;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

nav .links {
  text-align: center;
}

nav a {
  margin: 1em;
  padding: 1em;
}

.content {
  width: 60%;
  margin: auto;
  padding-top: 2em;
}

