html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lora';
}

header {
  background: black;
  color: white;
  padding: 1.5em;

}

header .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-align: center;
    height: 250px;
    margin: auto;
    overflow: hidden;
    background-image: url(../images/birthday.jpg);
    background-size: cover;
    background-position: center;
}

.container h1 {
    display: inline-block;
    position: relative;
    top: 40%;

}

.container h1 span{
    background: rgba(0,0,0,.7);
    padding: 15px;
}

.banner {
    width: 100%;
    margin-top: -400px;
}
a {
  color: inherit;
  text-decoration: none;
}

nav {
  background: #202020;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

nav .links {
  text-align: center;
}

nav a {
  margin: 1em;
  padding: 1em;
}

.content {
    width: 60%;
    max-width: 800px;
    text-align: left;
    margin: auto;
    padding-top: 2em;
}

 .small {
	font-size: xx-small;
}
 .medium{
  font-size: medium;
 }
 .large{
  font-size: large;
 }
 .larger {
	font-size: x-large;
}
 .largest {
  font-size: xx-large;
}

