<!DOCTYPE html>
<head>
	<title>Save Senior House</title>
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link href="assets/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container">
      <h1><span>Save Senior House</span></h1>
    </div>
  </header>

  <nav> 
    <div class="links">
      <a href="index.html">What is Senior House?</a>
      <a href="admin.html">Admin Transgressions</a>
      <a href="demands.html">Demands</a>
      <a href="support.html">Support Us</a>
      <a href="events.html">Upcoming Events</a>
    </div>
  </nav>

  <div class="content">
    {{{content}}}
  </div>

</div>
</body>
</html>
